.App {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.AppHeader {
  background-color: #4caf50; /* Schooldocs green */
  color: white;
}


h1 {
  margin: 0;
}

h2 {
  color: #4caf50;
}

.instructions {
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.instructions h3 {
  color: #4caf50;
}
